In [4]:
import pandas as pd
import requests
import time 
import json
from datetime import datetime, timedelta
import numpy as np 
import os


API_key='AZQ6QOXNR3NDY4N2'
list_of_stocks=['IBM','AAMC','ABT','BDTX']

In [17]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey='+API_key
r = requests.get(url)
try:    
    # path= "/opt/data/DATA_CENTER/DATA_LAKE/"
    path= "H:\Drive'Ä±m\Develhope\Develhope_stage2\develhope\airflow_local\data\DATA_CENTER\DATA_LAKE"
    data = r.json()
    with open(path+"stock_market_raw_data"+"_IBM_"+str(time.time()), "w") as outfile:
        json.dump(data,outfile)
except:
    pass

In [18]:
print(data)

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume', '2. Symbol': 'IBM', '3. Last Refreshed': '2023-04-20 19:55:00', '4. Interval': '5min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (5min)': {'2023-04-20 19:55:00': {'1. open': '126.3000', '2. high': '126.3000', '3. low': '126.3000', '4. close': '126.3000', '5. volume': '400'}, '2023-04-20 19:45:00': {'1. open': '126.3400', '2. high': '126.3400', '3. low': '126.3400', '4. close': '126.3400', '5. volume': '250'}, '2023-04-20 19:40:00': {'1. open': '126.3800', '2. high': '126.3800', '3. low': '126.3800', '4. close': '126.3800', '5. volume': '187'}, '2023-04-20 19:35:00': {'1. open': '126.3400', '2. high': '126.3400', '3. low': '126.3400', '4. close': '126.3400', '5. volume': '300'}, '2023-04-20 19:15:00': {'1. open': '126.3400', '2. high': '126.3400', '3. low': '126.3400', '4. close': '126.3400', '5. volume': '201'}, '2023-04-20 18:30:00': {'1. open': '126.3000', '2. high': '126.3000', '3. low': '126.3000', '4. close': '126.3000', '5. volume': '500'}, '2023-04-20 18:00:00': {'1. open': '126.3025', '2. high': '126.3025', '3. low': '126.3025', '4. close': '126.3025', '5. volume': '712'}, '2023-04-20 17:50:00': {'1. open': '126.3013', '2. high': '126.3013', '3. low': '126.3000', '4. close': '126.3000', '5. volume': '1211'}, '2023-04-20 17:40:00': {'1. open': '126.3700', '2. high': '126.3700', '3. low': '126.3700', '4. close': '126.3700', '5. volume': '815'}, '2023-04-20 17:35:00': {'1. open': '126.3500', '2. high': '126.3500', '3. low': '126.3500', '4. close': '126.3500', '5. volume': '301'}, '2023-04-20 17:15:00': {'1. open': '126.3500', '2. high': '126.3500', '3. low': '126.3500', '4. close': '126.3500', '5. volume': '620'}, '2023-04-20 16:55:00': {'1. open': '126.3000', '2. high': '126.3000', '3. low': '126.3000', '4. close': '126.3000', '5. volume': '1210'}, '2023-04-20 16:50:00': {'1. open': '126.3978', '2. high': '126.4000', '3. low': '126.2500', '4. close': '126.2500', '5. volume': '9504'}, '2023-04-20 16:45:00': {'1. open': '126.4000', '2. high': '126.4000', '3. low': '126.4000', '4. close': '126.4000', '5. volume': '1044'}, '2023-04-20 16:40:00': {'1. open': '126.3999', '2. high': '126.4000', '3. low': '126.3700', '4. close': '126.3700', '5. volume': '769'}, '2023-04-20 16:25:00': {'1. open': '126.3800', '2. high': '126.4000', '3. low': '126.3800', '4. close': '126.4000', '5. volume': '3135'}, '2023-04-20 16:20:00': {'1. open': '126.2700', '2. high': '126.3200', '3. low': '126.2700', '4. close': '126.3200', '5. volume': '415'}, '2023-04-20 16:15:00': {'1. open': '126.3200', '2. high': '126.3500', '3. low': '126.3000', '4. close': '126.3500', '5. volume': '979'}, '2023-04-20 16:10:00': {'1. open': '126.4000', '2. high': '126.4000', '3. low': '126.3600', '4. close': '126.4000', '5. volume': '8009'}, '2023-04-20 16:05:00': {'1. open': '126.3600', '2. high': '126.4000', '3. low': '126.3000', '4. close': '126.4000', '5. volume': '93783'}, '2023-04-20 16:00:00': {'1. open': '126.3750', '2. high': '126.5500', '3. low': '126.3200', '4. close': '126.3800', '5. volume': '408530'}, '2023-04-20 15:55:00': {'1. open': '126.2100', '2. high': '126.3700', '3. low': '126.1350', '4. close': '126.3650', '5. volume': '184514'}, '2023-04-20 15:50:00': {'1. open': '126.2500', '2. high': '126.2800', '3. low': '126.1600', '4. close': '126.2400', '5. volume': '92681'}, '2023-04-20 15:45:00': {'1. open': '126.1850', '2. high': '126.2900', '3. low': '126.1800', '4. close': '126.2500', '5. volume': '80249'}, '2023-04-20 15:40:00': {'1. open': '126.3500', '2. high': '126.3500', '3. low': '126.1400', '4. close': '126.1900', '5. volume': '91925'}, '2023-04-20 15:35:00': {'1. open': '126.3150', '2. high': '126.3900', '3. low': '126.3000', '4. close': '126.3500', '5. volume': '70559'}, '2023-04-20 15:30:00': {'1. open': '126.3825', '2. high': '126.3825', '3. low': '126.2900', '4. close': '126.3200', '5. volume': '47483'}, '2023-04-20 15:25:00': {'1. open': '126.3701', '2. high': '126.4400', '3. low': '126.3200', '4. close': '126.3700', '5. volume': '53250'}, '2023-04-20 15:20:00': {'1. open': '126.3400', '2. high': '126.4200', '3. low': '126.3075', '4. close': '126.3750', '5. volume': '52347'}, '2023-04-20 15:15:00': {'1. open': '126.4100', '2. high': '126.4200', '3. low': '126.2740', '4. close': '126.3350', '5. volume': '49778'}, '2023-04-20 15:10:00': {'1. open': '126.3400', '2. high': '126.4600', '3. low': '126.3000', '4. close': '126.4249', '5. volume': '45696'}, '2023-04-20 15:05:00': {'1. open': '126.3700', '2. high': '126.3900', '3. low': '126.3000', '4. close': '126.3400', '5. volume': '80973'}, '2023-04-20 15:00:00': {'1. open': '126.3161', '2. high': '126.3800', '3. low': '126.2800', '4. close': '126.3650', '5. volume': '48182'}, '2023-04-20 14:55:00': {'1. open': '126.3000', '2. high': '126.3800', '3. low': '126.2200', '4. close': '126.3200', '5. volume': '48935'}, '2023-04-20 14:50:00': {'1. open': '126.1900', '2. high': '126.3300', '3. low': '126.1000', '4. close': '126.2800', '5. volume': '93439'}, '2023-04-20 14:45:00': {'1. open': '126.4450', '2. high': '126.4450', '3. low': '126.1900', '4. close': '126.2399', '5. volume': '58258'}, '2023-04-20 14:40:00': {'1. open': '126.6100', '2. high': '126.6500', '3. low': '126.4201', '4. close': '126.4300', '5. volume': '59834'}, '2023-04-20 14:35:00': {'1. open': '126.8400', '2. high': '126.8500', '3. low': '126.6000', '4. close': '126.6600', '5. volume': '45027'}, '2023-04-20 14:30:00': {'1. open': '126.9200', '2. high': '126.9200', '3. low': '126.7500', '4. close': '126.8381', '5. volume': '39621'}, '2023-04-20 14:25:00': {'1. open': '126.7950', '2. high': '126.9200', '3. low': '126.6900', '4. close': '126.8900', '5. volume': '46363'}, '2023-04-20 14:20:00': {'1. open': '126.7900', '2. high': '126.8100', '3. low': '126.6290', '4. close': '126.7800', '5. volume': '30142'}, '2023-04-20 14:15:00': {'1. open': '126.6600', '2. high': '126.8700', '3. low': '126.6600', '4. close': '126.7900', '5. volume': '66567'}, '2023-04-20 14:10:00': {'1. open': '126.7150', '2. high': '126.7150', '3. low': '126.4500', '4. close': '126.6700', '5. volume': '66419'}, '2023-04-20 14:05:00': {'1. open': '126.5800', '2. high': '126.7400', '3. low': '126.5800', '4. close': '126.7000', '5. volume': '32935'}, '2023-04-20 14:00:00': {'1. open': '126.7800', '2. high': '126.9100', '3. low': '126.5100', '4. close': '126.6100', '5. volume': '60456'}, '2023-04-20 13:55:00': {'1. open': '126.8300', '2. high': '126.8400', '3. low': '126.6773', '4. close': '126.7800', '5. volume': '44059'}, '2023-04-20 13:50:00': {'1. open': '126.9400', '2. high': '127.0000', '3. low': '126.7850', '4. close': '126.8400', '5. volume': '38916'}, '2023-04-20 13:45:00': {'1. open': '126.8400', '2. high': '126.9500', '3. low': '126.7699', '4. close': '126.9400', '5. volume': '118402'}, '2023-04-20 13:40:00': {'1. open': '126.7800', '2. high': '126.8900', '3. low': '126.7000', '4. close': '126.8550', '5. volume': '52083'}, '2023-04-20 13:35:00': {'1. open': '126.8300', '2. high': '126.8700', '3. low': '126.6600', '4. close': '126.7900', '5. volume': '44316'}, '2023-04-20 13:30:00': {'1. open': '126.5700', '2. high': '126.8300', '3. low': '126.5200', '4. close': '126.8200', '5. volume': '81165'}, '2023-04-20 13:25:00': {'1. open': '126.8100', '2. high': '126.8500', '3. low': '126.5500', '4. close': '126.5500', '5. volume': '77600'}, '2023-04-20 13:20:00': {'1. open': '126.9300', '2. high': '126.9300', '3. low': '126.7987', '4. close': '126.7987', '5. volume': '45468'}, '2023-04-20 13:15:00': {'1. open': '126.9100', '2. high': '127.0200', '3. low': '126.8401', '4. close': '126.9130', '5. volume': '50026'}, '2023-04-20 13:10:00': {'1. open': '127.0601', '2. high': '127.1100', '3. low': '126.8400', '4. close': '126.9001', '5. volume': '45957'}, '2023-04-20 13:05:00': {'1. open': '127.0350', '2. high': '127.0782', '3. low': '126.9500', '4. close': '127.0600', '5. volume': '34169'}, '2023-04-20 13:00:00': {'1. open': '127.1500', '2. high': '127.2200', '3. low': '127.0100', '4. close': '127.0350', '5. volume': '39615'}, '2023-04-20 12:55:00': {'1. open': '127.2350', '2. high': '127.2400', '3. low': '127.0400', '4. close': '127.1500', '5. volume': '66508'}, '2023-04-20 12:50:00': {'1. open': '127.1700', '2. high': '127.3000', '3. low': '127.1600', '4. close': '127.2350', '5. volume': '51756'}, '2023-04-20 12:45:00': {'1. open': '127.2750', '2. high': '127.3599', '3. low': '127.0900', '4. close': '127.1400', '5. volume': '48102'}, '2023-04-20 12:40:00': {'1. open': '127.1397', '2. high': '127.4400', '3. low': '127.1397', '4. close': '127.2600', '5. volume': '67388'}, '2023-04-20 12:35:00': {'1. open': '127.1500', '2. high': '127.2400', '3. low': '127.0600', '4. close': '127.1400', '5. volume': '75372'}, '2023-04-20 12:30:00': {'1. open': '126.9300', '2. high': '127.1600', '3. low': '126.9000', '4. close': '127.1600', '5. volume': '72316'}, '2023-04-20 12:25:00': {'1. open': '126.9100', '2. high': '127.0300', '3. low': '126.8000', '4. close': '126.9300', '5. volume': '93467'}, '2023-04-20 12:20:00': {'1. open': '126.9700', '2. high': '127.2100', '3. low': '126.8950', '4. close': '126.9094', '5. volume': '119592'}, '2023-04-20 12:15:00': {'1. open': '127.0500', '2. high': '127.0900', '3. low': '126.7700', '4. close': '126.9800', '5. volume': '256149'}, '2023-04-20 12:10:00': {'1. open': '127.2601', '2. high': '127.3800', '3. low': '127.0300', '4. close': '127.0500', '5. volume': '46083'}, '2023-04-20 12:05:00': {'1. open': '127.5150', '2. high': '127.5900', '3. low': '127.2100', '4. close': '127.2850', '5. volume': '65299'}, '2023-04-20 12:00:00': {'1. open': '127.7962', '2. high': '127.8600', '3. low': '127.3700', '4. close': '127.5150', '5. volume': '98304'}, '2023-04-20 11:55:00': {'1. open': '127.7150', '2. high': '127.8800', '3. low': '127.6800', '4. close': '127.7800', '5. volume': '57897'}, '2023-04-20 11:50:00': {'1. open': '127.6800', '2. high': '127.8100', '3. low': '127.6200', '4. close': '127.7250', '5. volume': '84382'}, '2023-04-20 11:45:00': {'1. open': '127.8100', '2. high': '127.8500', '3. low': '127.4600', '4. close': '127.6800', '5. volume': '114232'}, '2023-04-20 11:40:00': {'1. open': '128.1750', '2. high': '128.2000', '3. low': '127.8211', '4. close': '127.8496', '5. volume': '81045'}, '2023-04-20 11:35:00': {'1. open': '128.3399', '2. high': '128.3400', '3. low': '128.0600', '4. close': '128.1800', '5. volume': '99153'}, '2023-04-20 11:30:00': {'1. open': '128.6500', '2. high': '128.7300', '3. low': '128.3000', '4. close': '128.3200', '5. volume': '109965'}, '2023-04-20 11:25:00': {'1. open': '128.9102', '2. high': '129.0100', '3. low': '128.6100', '4. close': '128.6100', '5. volume': '160723'}, '2023-04-20 11:20:00': {'1. open': '128.8240', '2. high': '129.0100', '3. low': '128.6000', '4. close': '128.9600', '5. volume': '123983'}, '2023-04-20 11:15:00': {'1. open': '128.6300', '2. high': '128.8800', '3. low': '128.3600', '4. close': '128.8400', '5. volume': '150543'}, '2023-04-20 11:10:00': {'1. open': '128.0700', '2. high': '128.6990', '3. low': '128.0500', '4. close': '128.6200', '5. volume': '152260'}, '2023-04-20 11:05:00': {'1. open': '127.8500', '2. high': '128.1505', '3. low': '127.8456', '4. close': '128.0650', '5. volume': '138935'}, '2023-04-20 11:00:00': {'1. open': '127.7619', '2. high': '127.8531', '3. low': '127.5600', '4. close': '127.8000', '5. volume': '99620'}, '2023-04-20 10:55:00': {'1. open': '127.5200', '2. high': '127.8590', '3. low': '127.4572', '4. close': '127.7985', '5. volume': '97984'}, '2023-04-20 10:50:00': {'1. open': '127.1300', '2. high': '127.6495', '3. low': '127.1300', '4. close': '127.5450', '5. volume': '143205'}, '2023-04-20 10:45:00': {'1. open': '127.0200', '2. high': '127.2000', '3. low': '126.8300', '4. close': '127.1200', '5. volume': '138994'}, '2023-04-20 10:40:00': {'1. open': '126.4950', '2. high': '127.0700', '3. low': '126.4600', '4. close': '126.9970', '5. volume': '147996'}, '2023-04-20 10:35:00': {'1. open': '126.4600', '2. high': '126.7199', '3. low': '126.3850', '4. close': '126.4985', '5. volume': '87896'}, '2023-04-20 10:30:00': {'1. open': '126.8250', '2. high': '126.8500', '3. low': '126.4400', '4. close': '126.4700', '5. volume': '94434'}, '2023-04-20 10:25:00': {'1. open': '126.5300', '2. high': '126.8900', '3. low': '126.3700', '4. close': '126.8100', '5. volume': '101259'}, '2023-04-20 10:20:00': {'1. open': '126.5300', '2. high': '126.8500', '3. low': '126.2000', '4. close': '126.5750', '5. volume': '171778'}, '2023-04-20 10:15:00': {'1. open': '126.3100', '2. high': '126.6400', '3. low': '126.0500', '4. close': '126.5350', '5. volume': '168297'}, '2023-04-20 10:10:00': {'1. open': '126.0000', '2. high': '126.6500', '3. low': '126.0000', '4. close': '126.2700', '5. volume': '166920'}, '2023-04-20 10:05:00': {'1. open': '126.5200', '2. high': '126.6300', '3. low': '125.8400', '4. close': '126.0000', '5. volume': '279593'}, '2023-04-20 10:00:00': {'1. open': '126.8837', '2. high': '126.9100', '3. low': '126.2000', '4. close': '126.5363', '5. volume': '254316'}, '2023-04-20 09:55:00': {'1. open': '127.3600', '2. high': '127.6350', '3. low': '126.7192', '4. close': '126.8700', '5. volume': '232549'}, '2023-04-20 09:50:00': {'1. open': '127.9700', '2. high': '128.2900', '3. low': '127.2401', '4. close': '127.3300', '5. volume': '240617'}, '2023-04-20 09:45:00': {'1. open': '128.2900', '2. high': '128.6400', '3. low': '127.9500', '4. close': '128.0000', '5. volume': '218265'}, '2023-04-20 09:40:00': {'1. open': '128.3100', '2. high': '129.1800', '3. low': '127.8300', '4. close': '128.2300', '5. volume': '377390'}, '2023-04-20 09:35:00': {'1. open': '130.1500', '2. high': '130.9800', '3. low': '128.3000', '4. close': '128.3600', '5. volume': '687094'}, '2023-04-20 09:30:00': {'1. open': '129.8000', '2. high': '130.5000', '3. low': '129.2500', '4. close': '130.2800', '5. volume': '18218'}, '2023-04-20 09:25:00': {'1. open': '129.6500', '2. high': '130.0100', '3. low': '129.5500', '4. close': '129.7500', '5. volume': '46879'}}}

In [ ]:
#ETL

#some problems to think about

#the key where the market data is stored changes depending on the request

# within the market data key, then there are series of keys, corresponding to each trading day

#when storing the metadata json as a pandas column, think of if you want to use it further in the future

In [19]:
#check the type, keys etc.
type(data)

dict

In [20]:
data.keys()

dict_keys(['Meta Data', 'Time Series (5min)'])

In [21]:
data['Meta Data']

{'1. Information': 'Intraday (5min) open, high, low, close prices and volume',
 '2. Symbol': 'IBM',
 '3. Last Refreshed': '2023-04-20 19:55:00',
 '4. Interval': '5min',
 '5. Output Size': 'Compact',
 '6. Time Zone': 'US/Eastern'}

In [ ]:
data['Time Series (5min)']

In [24]:
data['Time Series (5min)']['2023-04-20 19:55:00'].keys()

dict_keys(['1. open', '2. high', '3. low', '4. close', '5. volume'])

In [25]:
clean_data=pd.DataFrame(data['Time Series (5min)'])

In [26]:
clean_data

,2023-04-20 19:55:00,2023-04-20 19:45:00,2023-04-20 19:40:00,2023-04-20 19:35:00,2023-04-20 19:15:00,2023-04-20 18:30:00,2023-04-20 18:00:00,2023-04-20 17:50:00,2023-04-20 17:40:00,2023-04-20 17:35:00,...,2023-04-20 10:10:00,2023-04-20 10:05:00,2023-04-20 10:00:00,2023-04-20 09:55:00,2023-04-20 09:50:00,2023-04-20 09:45:00,2023-04-20 09:40:00,2023-04-20 09:35:00,2023-04-20 09:30:00,2023-04-20 09:25:00
1. open,126.3000,126.3400,126.3800,126.3400,126.3400,126.3000,126.3025,126.3013,126.3700,126.3500,...,126.0000,126.5200,126.8837,127.3600,127.9700,128.2900,128.3100,130.1500,129.8000,129.6500
2. high,126.3000,126.3400,126.3800,126.3400,126.3400,126.3000,126.3025,126.3013,126.3700,126.3500,...,126.6500,126.6300,126.9100,127.6350,128.2900,128.6400,129.1800,130.9800,130.5000,130.0100
3. low,126.3000,126.3400,126.3800,126.3400,126.3400,126.3000,126.3025,126.3000,126.3700,126.3500,...,126.0000,125.8400,126.2000,126.7192,127.2401,127.9500,127.8300,128.3000,129.2500,129.5500
4. close,126.3000,126.3400,126.3800,126.3400,126.3400,126.3000,126.3025,126.3000,126.3700,126.3500,...,126.2700,126.0000,126.5363,126.8700,127.3300,128.0000,128.2300,128.3600,130.2800,129.7500
5. volume,400,250,187,300,201,500,712,1211,815,301,...,166920,279593,254316,232549,240617,218265,377390,687094,18218,46879

In [27]:
#if we want the above methhof data is not in desired format(columns to be prices, rows to be timestamps)
#we can simply transpose the format
clean_data=clean_data.T

In [28]:
clean_data

                      1. open   2. high    3. low  4. close 5. volume
2023-04-20 19:55:00  126.3000  126.3000  126.3000  126.3000       400
2023-04-20 19:45:00  126.3400  126.3400  126.3400  126.3400       250
2023-04-20 19:40:00  126.3800  126.3800  126.3800  126.3800       187
2023-04-20 19:35:00  126.3400  126.3400  126.3400  126.3400       300
2023-04-20 19:15:00  126.3400  126.3400  126.3400  126.3400       201
...                       ...       ...       ...       ...       ...
2023-04-20 09:45:00  128.2900  128.6400  127.9500  128.0000    218265
2023-04-20 09:40:00  128.3100  129.1800  127.8300  128.2300    377390
2023-04-20 09:35:00  130.1500  130.9800  128.3000  128.3600    687094
2023-04-20 09:30:00  129.8000  130.5000  129.2500  130.2800     18218
2023-04-20 09:25:00  129.6500  130.0100  129.5500  129.7500     46879

[100 rows x 5 columns]

In [29]:
#we want to enrich our dataframe with meta data

clean_data['ticker']= data['Meta Data']['2. Symbol']

In [30]:
#instead of storing column by columun, I simply want to keep a record with the entire metadata
clean_data['meta_data']=str(data['Meta Data'])

In [31]:
#create a timestamp column

clean_data['timestamp']= pd.to_datetime('now')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_9308\721769063.py:3: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  clean_data['timestamp']= pd.to_datetime('now')

In [32]:
clean_data

,1. open,2. high,3. low,4. close,5. volume,ticker,meta_data,timestamp
2023-04-20 19:55:00,126.3000,126.3000,126.3000,126.3000,400,IBM,"{'1. Information': 'Intraday (5min) open, high...",2023-04-21 13:46:32.613524
2023-04-20 19:45:00,126.3400,126.3400,126.3400,126.3400,250,IBM,"{'1. Information': 'Intraday (5min) open, high...",2023-04-21 13:46:32.613524
2023-04-20 19:40:00,126.3800,126.3800,126.3800,126.3800,187,IBM,"{'1. Information': 'Intraday (5min) open, high...",2023-04-21 13:46:32.613524
2023-04-20 19:35:00,126.3400,126.3400,126.3400,126.3400,300,IBM,"{'1. Information': 'Intraday (5min) open, high...",2023-04-21 13:46:32.613524
2023-04-20 19:15:00,126.3400,126.3400,126.3400,126.3400,201,IBM,"{'1. Information': 'Intraday (5min) open, high...",2023-04-21 13:46:32.613524
...,...,...,...,...,...,...,...,...
2023-04-20 09:45:00,128.2900,128.6400,127.9500,128.0000,218265,IBM,"{'1. Information': 'Intraday (5min) open, high...",2023-04-21 13:46:32.613524
2023-04-20 09:40:00,128.3100,129.1800,127.8300,128.2300,377390,IBM,"{'1. Information': 'Intraday (5min) open, high...",2023-04-21 13:46:32.613524
2023-04-20 09:35:00,130.1500,130.9800,128.3000,128.3600,687094,IBM,"{'1. Information': 'Intraday (5min) open, high...",2023-04-21 13:46:32.613524
2023-04-20 09:30:00,129.8000,130.5000,129.2500,130.2800,18218,IBM,"{'1. Information': 'Intraday (5min) open, high...",2023-04-21 13:46:32.613524
2023-04-20 09:25:00,129.6500,130.0100,129.5500,129.7500,46879,IBM,"{'1. Information': 'Intraday (5min) open, high...",2023-04-21 13:46:32.613524

In [ ]:
#function we want to pass to airflow which performs all of this data cleaning

def clean_market_data():
    output_path=""
    data=read from somewhere #we will read the json from our raw datalake
    clean_data=pd.DataFrame(data['Time Series (5min)']).T
    clean_data['ticker']= data['Meta Data']['2. Symbol']
    clean_data['meta_data']=str(data['Meta Data'])
    clean_data['timestamp']= pd.to_datetime('now')

    #we will want to store the result in the clean data lake
    clean_data.to_csv(output_path+"IBM_snapshot_intraday"+str(pd.to_datetime('now')))